*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#131313;
}
section.Product-Card .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}
section.Product-Card .container .box{
    position: relative;
    width:300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
section.Product-Card .container .box::before{
    content: 'TECH';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
}
section.Product-Card .container .box::after{
    content: 'DEVICES';
    position: absolute;
    letter-spacing: 5px;
    bottom: 20px;
    right: 35px;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
section.Product-Card .container .box:hover::after,
section.Product-Card .container .box:hover::before{
    opacity: 0.4;
}

section.Product-Card .container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
    letter-spacing: 1px;
}
section.Product-Card .container .box:hover .name{
    top: 40px;
    opacity: 1;
}
section.Product-Card .container .box .buy{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
section.Product-Card .container .box:hover .buy{
    bottom: 40px;
    opacity: 1;
}
section.Product-Card .container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
    transform-style: preserve-3d;
    z-index: 10;
    opacity: 1;
    transform: translate3d(-50%,-50%,50px);
}
section.Product-Card .container .box .product{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;

    transform-style: preserve-3d;
    transform: translate3d(-50%,-50%,50px) rotate(-25deg)
    ;

}
section.Product-Card .container .box:hover .product{
    transform: translate3d(-50%,-50%,100px) rotate(-25deg)
}
section.Product-Card .container .box:nth-child(3) .buy,
section.Product-Card .container .box:nth-child(3) .circle{
    background: #90f0ff;
    color: black;
}
section.Product-Card .container .box:nth-child(1) .buy,
section.Product-Card .container .box:nth-child(1) .circle{
    background: #115d6a;
}
section.Product-Card .container .box:nth-child(2) .buy,
section.Product-Card .container .box:nth-child(2) .circle{
    background: #b9e0c7;
    color: black;
}